body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

p {
  padding: 2px;
}

.jumbotron {
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 0;
  border-bottom: 10px solid rgb(128, 227, 252);
}

ul {
  overflow-y: auto;
  max-height: 400px;
}

ul:hover {
  cursor: pointer;
}

li:hover {
  background-color: rgb(236, 232, 232);
}

article {
  min-height: 150px;
}

img {
  max-height: 50px;
}

.card {
  color: white;
  background-color: rgb(84, 126, 218);
}

.date {
  font-size: 20px;
}
/*uv index conditions */
.severe {
  background-color: red;
  padding: 10px;
}

.moderate {
  background-color: yellow;
  padding: 10px;
}

.safe {
  background-color: lightgreen;
  padding: 10px;
}

@media screen and (max-width: 772px) {
  ul {
    max-height: 70px;
  }

  .date {
  font-size: 12px;
} 
}