body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

p {
  padding: 1px;
}

.jumbotron {
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 0;
  border-bottom: 10px solid rgb(128, 227, 252);
}

article {
  min-height: 200px;
}

.card {
  color: white;
  background-color: rgb(84, 126, 218);
}

.severe {
  background-color: red;
}

.moderate {
  background-color: yellow;
}

.safe {
  background-color: lightgreen;
}
